.add-input{
  width: 370px;
  flex-grow: 1;
  margin-right: 3px;
}
.add-button{
    margin-left: 3px;
    width: auto;
    flex-grow: 1;
    background-color: rgb(23, 162, 184);
    color: rgb(255, 255, 255);
    border-color: rgb(23, 162, 184);
}
.form{
    display: flex;
}